<form [formGroup]="form">
    <div class="row margin-bottom-15">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 register-form">
            <div class="form-group">
                <span>
                    Amount
                </span>
                <input class="form-field" type="number" formControlName="Amount">
            </div>
        </div>
    </div>

    <div class="row margin-bottom-15">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 register-form">
            <div class="form-group">
                <span>
                    From
                </span>
                <mat-form-field>
                    <mat-select (selectionChange)="FromCurrencyChange($event)">
                        <mat-option *ngFor="let currency of CurrencyData;" [value]="currency">
                            {{currency['CurrencyName']}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>  
            </div>
        </div>
    </div>

    <div class="row margin-bottom-15">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 register-form">
            <div class="form-group">
                <span>
                    To
                </span>
                <mat-form-field>
                    <mat-select (selectionChange)="ToCurrencyChange($event)">
                        <mat-option *ngFor="let currency of CurrencyData;" [value]="currency">
                            {{currency['CurrencyName']}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>  
            </div>
        </div>
    </div>
</form>

<div *ngIf="ExchangeResult != 0">
    {{ExchangeResult}}
</div>

<div *ngIf="ShowResult">
    {{SelectedAmount}} {{SelectedFromCurrency?.CurrencyName}} = {{ExchangeResult | number: '1.0-4'}} {{SelectedToCurrency?.CurrencyName}}
</div> 
