<form [formGroup]="form">
    <input type="number" placeholder="Amount" formControlName="Amount" min="0"/>
</form>

<mat-form-field>
    <mat-select (selectionChange)="FromCurrencyChange($event)">
        <mat-option *ngFor="let currency of ListOfCurrencies;" [value]="currency">
            {{currency['CurrencyName']}}
        </mat-option>
    </mat-select>
</mat-form-field>  

<mat-form-field>
    <mat-select (selectionChange)="ToCurrencyChange($event)">
        <mat-option *ngFor="let currency of ListOfCurrencies;" [value]="currency">
            {{currency['CurrencyName']}}
        </mat-option>
    </mat-select>
</mat-form-field>  


<div *ngIf="ExchangeResult != 0">
    {{ExchangeResult}}
</div>

<div *ngIf="ShowResult">
    {{SelectedAmount}} {{SelectedFromCurrency?.CurrencyName}} = {{ExchangeResult}} {{SelectedToCurrency?.CurrencyName}}
</div> 