form{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.form-field {
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    color: #99A3BA;
    border: 1px solid #CDD9ED;
    background: #fff;
    transition: border .3s ease;
    &::placeholder {
        color: #CBD1DC;
    }
    &:focus {
        outline: none;
        border-color: #275EFE;
    }
}

.form-group {
    position: relative;
    display: flex;
    width: 360px;
    margin-left: 30px;

    & > span,
    .form-field {
        white-space: nowrap;
        display: block;
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
        &:first-child {
            border-radius: 6px 0 0 6px;
        }
        &:last-child {
            border-radius: 0 6px 6px 0;
        }
        &:not(:first-child) {
            margin-left: -1px;
        }
    }
    .form-field {
        position: relative;
        z-index: 1;
        flex: 1 1 auto;
        width: 1%;
        margin-top: 0;
        margin-bottom: 0;
    }
    & > span {
        width: 50px;
        height: 25px;
        text-align: center;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 25px;
        color: #99A3BA;
        background: #EEF4FF;
        border: 1px solid #CDD9ED;
        transition: background .3s ease, border .3s ease, color .3s ease;
    }
    &:focus-within {
        & > span {
            color: #fff;
            background: #678EFE;
            border-color: #275EFE;
        }
    }
}

.result{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 50px;
    margin: 30px auto 15px auto;
    border: 1px solid #CDD9ED;
    border-radius: 10px;

    span{
        color: #99A3BA;
        font-size: 1.5em;
    }

    .additional-result{
        font-size: 1.3em;
    }
}

.mat-form-field{
    width: 300px;
    border-radius: 0 6px 6px 0 ;
    color: #99A3BA;
    border: 1px solid #CDD9ED;
    background: #fff;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline{
    height: 0 !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper{
    padding-bottom: 0;
}

.mat-mdc-form-field-bottom-align::before{
    display: none !important;
}

::ng-deep .mat-select-arrow-wrapper{
    padding: 0 10px 0px 0;
}

::ng-deep .mat-select-value-text{
    padding: 0 10px;
}

::ng-deep .mat-form-field-infix {
    padding: 0.15em 0 !important;
}

::ng-deep .mat-select-value-text {
    color: #99A3BA;
}

::ng-deep .mat-focused{
    display: none;
}
